.news-content {
  width: 65%;
}
.news-content .content-image {
  width: 100%;
}
.text {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}
.text .information {
  width: 350px;
  margin: 30px 30px;
}
.information .info-but {
  cursor: pointer;
  margin: 40px 0;
  padding: 20px 30px;
  letter-spacing: 5px;
  color: white;
  transition: 0.2s ease;
  background-color: hsl(5, 85%, 63%);
}
.information .info-but:hover {
  background-color: hsl(240, 100%, 5%);
}
.text .title {
  margin-top: 20px;
  line-height: 60px;
  width: 300px;
  font-size: 60px;
  font-weight: bolder;
  color: hsl(240, 100%, 5%);
}
