.new {
  width: 750px;
  padding: 10px 20px 30px;
  background-color: hsl(240, 100%, 5%);
  margin: 0 0 20px 20px;
  color: white;
}
.new .title {
  font-size: 40px;
  color: hsl(35, 77%, 62%);
  margin: 20px 0 30px;
}

.new .news .news-title {
  transition: 0.2s ease;
  margin: 20px 0;
}
.new .news:hover .news-title {
  color: hsl(35, 77%, 62%);
}
.new .news p {
  font-size: 17px;
  font-weight: bolder;
  color: hsl(236, 13%, 42%);
}

.new .line {
  width: 95%;
  height: 1px;
  margin: 30px 0;
  background-color: hsl(236, 13%, 42%);
}

.new .news {
  cursor: pointer;
}
